<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.shopping.dao.CityMapper" >

	<!-- by zz -->
	
	<select id="selectCityByProvinceId" parameterType="int" resultType="com.shopping.pojo.City">
		select cityid,city from  cities c 
		INNER JOIN provinces p on c.provinceid = p.provinceid and c.provinceid = #{pid}
	</select>
	
	<select id="selectByCityId" parameterType="string" resultType="com.shopping.pojo.City">
		select cityid,city 
		from  cities
		where cityid = #{cid}
	</select>
</mapper>